
.widgetRow{
    font-size: 11px;
    position: relative;
    &__wrapper {
      display: flex;
      &:hover {
        background-color: rgba(0, 0, 0, .09);
        cursor: pointer;
      }
    }
    &__td {
      line-height: 18px;
      flex: 25%;
      padding: 0 10px;
      text-align: right;
      position: relative;
      z-index: 2;
    }
    &__bar {
      display: block;
      position: absolute;
      height: 18px;
      z-index: 1;
      transition: width .5s;
    }

    $el:&;
    &--bids {
      #{$el}__wrapper--active{
        background: rgba(1, 167, 129, .2);
	      transition: background-color .3s ease;
      }
      #{$el}__bar{
        right: 0;
        background-color: rgba(3,167,128, .2);
      }
      #{$el}__td {
        &:first-child {
          text-align: center;
        }
      }
    }
    &--asks {
      #{$el}__wrapper--active{
        background: rgba(228, 75, 68, .2);
	      transition: background-color .3s ease;
      }
      #{$el}__bar{
        left: 0;
        background-color: rgba(228,75,67, .2);
      }
      #{$el}__td {
        &:last-child {
          text-align: center;
        }
      }
    }
}
